@model InvoiceAssembler.Orders

@{
    ViewBag.Title = "Details";
}
 
<div class="col-lg-9">
    <div class="body-content"> 
        <div class="row">
            <h2>Details </h2>
            <h4>Order @Html.DisplayFor(model => model.OrderId) <a class="help" href="#">help <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a> </h4>

        </div>


        <div class="row">
            <hr />
            <table class="table tableInvoiceDetails">
                <tr>
                    <th th width="100">
                        Contractor
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.Customer.CompanyName)
                        @Html.DisplayFor(model => model.Customer.City)
                    </td>
                    <th width="100">
                        Issue Date
                    </th>
                    <td width="100">
                        @Html.DisplayFor(model => model.OrderDate)
                    </td>

                </tr>
                <tr>
                    <th></th>
                    <td></td>

                    <th>
                        Due Date
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.RequiredDate)
                    </td>
                </tr>
            </table>
            <table class="table tableProducts">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Cateregory</th>
                        <th>Unit Price</th>
                        <th>Quantity per unit</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (InvoiceAssembler.OrderDetails entry in Model.OrderDetails)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => entry.Product.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => entry.Product.Category.CategoryName)
                            </td>
                            <td>
                                $
                                @Html.DisplayFor(model => entry.Product.UnitPrice)
                                
                            </td>
                            <td>
                                @Html.DisplayFor(model => entry.Product.QuantityPerUnit)
                            </td>
                            <td>
                                @Html.DisplayFor(model => entry.Quantity)
                            </td>
                        </tr>
                                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td></td>
                        <td><a href="../Reconcile/@Model.OrderId">Accept Order</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <th>Total Bill</th>
                        @{
                            double sum = 0;
                            foreach (var entry in Model.OrderDetails)
                            {
                                sum += entry.Product.UnitPrice.Value * entry.Quantity;
                            }
                        }
                        <td> $ @sum   </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <p>
            <button class="btn btn-default btnDetails btnBack"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>@Html.ActionLink("Back to List", "Index")</button>

        </p>

    </div>
</div>

<div class="col-lg-3">
    @{
        Html.RenderPartial("sideMenuDetails");
    }
</div>
 
