@model IEnumerable<InvoiceAssembler.Orders>

@{
    ViewBag.Title = "Orders";
}
<div class="col-lg-9">
    <div class="body-content">
        <div class="row">
            <h2>Orders <a class="help" href="#">help <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></h2>

        </div>
        <div class="row">
            <hr />
            <table class="table tableInvoices">
                <thead>
                    <tr>
                        <th>
                            Order number
                        </th>
                        <th>
                            Contractor
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.IssueDate)*@
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.DueDate)*@
                        </th>
                        <th>
                            Sum
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @item.OrderId
                            </td>
                            <td>
                                @item.Customer.CompanyName
                                @item.Customer.City
                            </td>
                            <td>
                               @item.OrderDate
                            </td>
                            <td>
                                @item.RequiredDate
                            </td>
                            @{
                                double sum = 0;
                                foreach (var entry in item.OrderDetails)
                                {
                                    sum += entry.Product.UnitPrice.Value * entry.Quantity;
                                }
                            }
                            <td>
                                $
                                @sum
                            </td>
                            <td>
                                <a href="Invoices/Details/@item.OrderId">Details</a>
                            </td>
                        </tr>
                                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-lg-3">
    @{
        Html.RenderPartial("sideMenu");
    }
</div>

